.vscode/

GCP/PythonCloudFunction/.idea/.gitignore
GCP/PythonCloudFunction/.idea/misc.xml
.gitignore
GCP/PythonCloudFunction/.idea/modules.xml
GCP/PythonCloudFunction/.idea/PythonCloudFunction.iml
GCP/PythonCloudFunction/.idea/vcs.xml
GCP/PythonCloudFunction/.idea/inspectionProfiles/profiles_settings.xml
GCP/PythonCloudFunction/.idea/inspectionProfiles/Project_Default.xml
.DS_Store
.DS_Store
GCP/PythonCloudFunction/env/lib/python3.10/site-packages/__pycache__/six.cpython-310.pyc
.DS_Store
StreamlitApp/arduinoiotbackend-firebase-adminsdk-yblvj-ad9d029cb5.json
.DS_Store
StreamlitApp/.streamlit/secrets.toml
.DS_Store
